.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
.eslintrc.json
tsconfig.json
test-workspace/**
resources/icons/*.svg 